<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activate your account on Muzi Muzi</title>
</head>
<body>
    <h1>Hi there!</h1>
    <p>
        Someone just registered on Muzi Muzi providing us with this email.
        If this was you, please got to this link to activate your account:<br />
        {{ url }}
    </p>
    <p>
        In case You dont recall registering on our site, please contact us at muzi.muzi.django@gmail.com
        telling us that was a mistake. We will try our best to keep Your privacy secure.
    </p>

    <p>
        Best regards from Muzi Muzi Team!
    </p>
</body>
</html>