#root {
  background-color: #303841;
}

.section-title {
  text-size-adjust: 0.3em;
  text-align: left;
  padding: 20px;
}

.adverts-container::-webkit-scrollbar {
  width: 0 !important;
}

.adverts-box {
  overflow: -moz-scrollbars-none;
}

.adverts-container {
  margin: 0px 30px 20px 50px;
  width: 250px;
  height: 800px;
  overflow: auto;
  background-color: #eeeeee;
}

.ant-tabs-bar {
  margin: 0 0 0 0 !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
  background-color: #eeeeee !important;
}

.ant-tabs-tab {
  box-sizing: content-box !important;
  margin: 0 3px 0 0 !important;
  background-color: #606a72 !important;
  color: white;
}

.navbar {
  background-color: #f6c90e;
}

.nav2 {
  background-color: #3a4750;
  margin-bottom: 3%;
}

.item1 {
  grid-area: title;
}
.item2 {
  grid-area: photo;
}
.item3 {
  grid-area: description;
}
.item4 {
  grid-area: city;
}
.item5 {
  grid-area: footer;
}
.item6 {
  grid-area: date;
}

.grid-container {
  display: grid;
  grid-template-columns: 180px auto 450px auto;
  grid-template-rows: max-content;
  grid-template-areas:
    "photo title title title date"
    "photo description description description city"
    "photo description description description footer";
  grid-gap: 2px;
  background-color: #f6c90e;
  padding: 4px;
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  font-size: 15px;
}

div.item1,
div.item6,
div.item3,
div.item4,
div.item5 {
  padding: 5px;
}

div.item1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item1,
div.item3 {
  min-width: 695px;
}

div.item4,
div.item5,
div.item6 {
  min-width: 170px;
}

.boxes {
  transition: box-shadow 0.3s;
  min-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.boxes:hover {
  box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
}

.card-deck {
  display: -webkit-inline-box !important;
  flex-direction: column;
}

.card-deck {
  margin-left: 4px !important;
}

.bandsbox {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 460px;
}

.card-header {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.professions {
  padding-left: 15px;
}

i {
  margin-right: 3px;
}

div > p {
  font-size: 1em;
  margin: 0px;
}

.advert-title {
  font-weight: 500;
  font-size: 20px;
}

.advert-data {
  font-weight: 600;
  font-size: 1em;
}

.advert-label {
  font-size: 0.9em;
}

div.card-body {
  padding: 10px;
}

div.card-header {
  padding: 10px;
  min-height: 70px;
}

div.card {
  border-color: #f6c90e;
  border-width: 3px;
}

div.card:hover {
  box-shadow: 0 0 19px rgba(33, 33, 33, 0.2);
}

ul.professions {
  margin-left: 10px;
}

p.users-info span {
  font-weight: 500;
}

.users-body {
  margin-bottom: 7px;
}
