.container {
  margin: 100px 50px 30px 50px;
}

.form-inline {
  width: 100%;
  padding-inline-start: 400px;
}

.form-control {
  width: 60% !important;
}

thead {
  background-color: rgb(255, 207, 74);
}

tr {
  text-align: center !important;
}
